[submodule "libs/rapidyaml"]
	path = libs/rapidyaml
	url = https://github.com/biojppm/rapidyaml
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libs/argparse-cpp"]
	path = libs/argparse-cpp
	url = https://github.com/magiruuvelvet/argparse-cpp
[submodule "libs/quill"]
	path = libs/quill
	url = https://github.com/magiruuvelvet/quill
